[submodule "NivRenderer/vendor/OpenGLStarter"]
	path = NivRenderer/vendor/OpenGLStarter
	url = https://github.com/ItsMeNiV/OpenGLStarter.git
[submodule "NivRenderer/vendor/glfw"]
	path = NivRenderer/vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "NivRenderer/vendor/glm"]
	path = NivRenderer/vendor/glm
	url = https://github.com/g-truc/glm.git
